@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.topbarContainer {
  
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; /*to align the search bar*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #ffff; 
    box-shadow: 5px 2px 2px rgba(0, 0, 0, .2); 
  }
  
  .topbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 36px;
    margin-left: 15px;
    font-weight: 600;
    color: #ffb53b;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
  .logo a {
    text-decoration: none;
    color: #ffb53b;
    font-size: 36px;
  }
  
  .topbarCenter {
    flex: 5;
  }
  
  .searchbar {
    width: 100%;
    height: 30px;
    background-color: #efefef;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
    color:black;
  }
  
  .searchInput {
    background-color: #efefef; 
    border: none;
    width: 70%;
    position: relative;
    left: 20px;
 
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: relative;
  }
  
  .topbarLink {
    margin-right: -40px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .topbarIcons {
    display: flex;
    margin-left: 120px;
   color: black;
   font-weight: normal;
   margin-right: -100px;
  }
  
  .topbarIconItem {
   margin-right: 18px;
    cursor: pointer;
    position: relative;
    font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
    
  }
  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    margin-top: -12px;

  }