/* 
.post-container{

    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    flex: 33.3% ;


}
.img-container img{
    height: 200px;
    padding: 5px;

  
} */







@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Mulish:ital,wght@0,200;0,300;1,200&family=Roboto:wght@100;700&display=swap');


.wrapper {
    margin-top: 6rem;
    top:100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  margin-left: 50px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
  .card__image {
    display: block;
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  .card__title {
    padding-left: 0.2;
   /* padding:0.5rem; */
   margin-right: 10px;
   text-align: right;
   margin-top: 8px;
   color: gray;
   font-weight: bold;
  }

  .card__description {
    padding: 0 1rem;
  }
.profilepic{
  width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.profile{
  display: flex;
  align-items: center;
}
  .card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    
    background: transparent;
  
    border-radius: 0.2rem;
  
  }
  .icons{
    display:flex;
    position:absolute;
    margin-left: 200px;
    padding-top: 10px;
   
  }
  .like-icon{
    color: #F7B53B;
    font-size: 20px; 
  }
 .icontext{
   margin-left: 5px;


 }


 .image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 12px;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background:rgba(0, 0, 0, 0.6);;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1em;
  margin-top: 130px;
  margin-right: 80px;
  margin-left: 20px;
}
.save-icon{
  margin-left: 200px;
}
.icontext{
  color: gray;
}