.edit-profile2{
  
    position: relative;

  
 border-radius: 5px;
    background-color: #fff;
  
    width:600px;
    height: 400px;
top:-5px;
margin-right: 150px;
margin-left: 200px;
}
.submit-changes{
    border-radius: 5px;
}
.change{
    width: 150px;
    height: 40px;
    border-radius: 5px; 
}
.photo{
    color: #fff;
    position: relative;
    left: -15px;
}