.edit-profile2{
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    width:600px;
    height: 400px;
    top:-5px;
    margin-right: 150px;
    margin-left: 200px;
    left: 50px;
}

.submit-changes1{
    border-radius: 40px;
    position: relative;
    left: 390px;
}

.change{
    width: 150px;
    height: 40px;
    border-radius: 5px; 
    position: relative;
    left: -170px;
    transition: 0.25s;
}

.photo{
    color: #fff;
    position: relative;
    left: -18px;
    font-weight: 600;
}
.registration{
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top:20px;
    left: 250px;
}
.profile-username1{
    font-size: 20px;
    position: relative;
    top:5px;
    left: -15px;
    font-weight: 500;
}
.change1{
    font-weight: 400;
    font-size: 12px;
text-transform: none;
width: 150px;
   height: 40px;
border-radius: 40px;
position: relative;
top:60px;
left:-250px;
margin-left: 80px;
background-color: #ffb53b;
color: #FFFFFF;
border: 1px solid #ffb53b;
font-weight: bold;

white-space: nowrap;

       text-overflow: clip;
       transition: 0.3s;
}
.change1:hover{
    background-color: #fff;
color: #ffb53b;
border: 1px solid #ffb53b;
transition: 0.25s;
}
.profile-picture-cropper{
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
   
}
.change-details{
    position: relative;
    top: -20px;
}
 .profile-picture{
    height: 100%;
    width: auto;
 }
 .regcc{
    background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow-y:scroll;
	overflow-x: hidden;

 }
 .change-text50{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 25px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.change-text51{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 45px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px
}
@media (max-width: 900px){
    .edit-profile2{
        position: relative;
        border-radius: 5px;
        background-color: #fff;
        width:100%;
     
        top:-35px;
     left: -20px;
    }
    .registration{
        font-size: 18px;
        font-weight: 500;
        position: relative;
        top:20px;
        left: 150px;
    }

 
    .change-text50{
        border: none;
        background-color: #efefef;
        padding: 8px 20px;
        margin-left: 15px;
        border-radius: 5px;
        width: 250px;
        margin-top: 20px;
    }
    .change-text51{
        border: none;
        background-color: #efefef;
        padding: 8px 20px;
        margin-left: 35px;
        border-radius: 5px;
        width: 250px;
        margin-top: 20px;
    }
    .submit-change1{
        position: relative;
     margin-left: -100px;
        width: 150px;
    }
}