@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* 
body {

  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}  */

.form-container {
  width: 360px;
  background-color: #FFF7DD;
   margin-top: 30px;
   height: 550px;
  padding: 10px;
  border-radius: 10px;
 margin-left: 500px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}
.sign{
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    width: 100%;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}
.logo{
    color: #F7B53B;
    font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

input {
  background: white;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #F7B53B;
  color: white;
  cursor: pointer;
  padding: 5px;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

button:disabled {
  cursor: default;
}
.forgot-password{
    text-align: center;
}
.forgot-password a{
    text-decoration: none;
    color:#F7B53B;

}
h4{
    text-align: center;
    margin-top: 0px;
    color:#F7B53B;
}