.project-container{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 0rem;
  justify-content: center;
}
.project{
    margin-top: 100px;
    background-color: #F7B53B;
    height: 100%;
    width:100%;
    margin-left: 10px;
   
    
}
.existing-projects{
    padding: 20px;
    margin-bottom: 30px;
}
.title{
    color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.projectlist{
    padding: 20px;
    margin-bottom: 40px;
    
}
.projectlistname{
    padding-bottom:20px;
    padding-top: 20px;
    list-style: none;
    color: white;
    font-weight: 700;
    padding-left: 5px;
    display: flex;
}
.projectlistname a{
    text-decoration: none;
    color: white;
}
.project-icon{
    font-size: 20px;
    margin-left: 60px;

}
.project-icon a{
    color: white;
    text-decoration: none;
}
.project-delete{
    margin-left: 20px;
    font-size: 20px;
    
}
.create-project{
    background-color:#FFF7DD;
    margin-top: 100px;
width: 500px;
    height: 100%;
}
.create-projecttitle{
    padding: 20px;
    font-weight: bolder;
}
.cptitle{
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    margin-left: 150px;
}
.field{
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
}
.project-type{
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.members{
    padding-left: 20px;
    margin-top:50px;
}
.type{
    margin-left: 20px;
}
.hero-btn{
    margin-left: 300px;
    margin-top: 50px;
}
.existing-details{
    display: flex;
}
.profile-pics{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 20px;
    margin-top: 10px;

}
.username{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
.change-pic{

    border-radius: 5px;
    border: none;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}
.change-username{
    margin-top: 30px;
    margin-left: 20px;
}
.change-text{
    margin-left: 20px;
    margin-bottom: 40px;
    border: gray;
    height: 20px;
    width:200px;
    
}
.submit-btn{
    margin-left: 300px;
    border: none;
    border-radius: 5px;
}
