.sidebar {
    flex: 3;
    height:100%; 
    box-shadow: 5px 2px 2px rgba(0, 0, 0, .1); 
    overflow-x: hidden;
    width: 153px;
    background-color: #fff;
    z-index: 1;
    position:fixed;
    top: 0;
    left:0;
    padding-top: 35px;
  }
  
  .sidebarWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
padding-right: 0px;
  }
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebarListItem  {
    padding-bottom:10px ;
    padding-top:10px ;
    padding-right: -5px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: width 2s;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .sidebarListItemActive  {
    padding-bottom:10px ;
    padding-top:10px ;
    padding-right: -5px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: width 2s;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #efefef; 
  }


  .sidebarListItem:hover{
      background-color: #efefef; 
      width: 300px;    
  }
  
  .sidebarIcon  {
    font-size: 23px;
    margin-left: -10px;
    position:relative;
    margin-bottom: 22px;
    margin-top: -2.5px;
  }
  
  
.sidebarListItemText{
  margin-left: 60px;
  color: black;
  font-size: 18px;
  margin-top: 10px;
}

@media (max-width: 900px){
  .sidebar {
    box-shadow: 1000px 0px 0px 4000px rgb(0 0 0 / 50%);
  }
}