.sidebar2 {
    flex: 3;
    height:100%; 
    box-shadow: 5px 2px 2px rgba(0, 0, 0, .1); 
  
overflow-x: hidden;
   /* margin-right: 1200px; */
  
    width: 160px;
    background-color: #fff;
    z-index: 1;

    position:fixed;
    top: 0;
    left:0;
    padding-top: 35px;
  }
  .sidebarlistsub{
    margin-top: 10px;
  }

  .sidebarWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
padding-right: 0px;
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebarListItem a{
    padding: 1px;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: width 2s;
  }
  .sidebarListItem:hover{
      background-color: #efefef;
   
      width: 300px;
  

   
      
  }
 
  
  .sidebarListItem {
    display: block;
    align-items: center;
    margin-bottom: 5px;
  
  }
 
  
  .sidebarIcon  {
    margin-right:80px;
    font-size: 23px;
    margin-left: 20px;
position:absolute;
    justify-content: left;
    margin-bottom: 22px;
    margin-top: -2.5px;
   
    

  }
  
  
  .sidebarListItemText{

   
margin-left: 60px;
color: black;
font-size: 18px;
margin-top: 10px;




  }
 .sidebarListItemText1{
    margin-left: 25px;
    color: black;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .sidebarIcon1{
    font-size: 14px;

    position: absolute;
    top: 255px;
 }
 .sidebarListItemsub{
     list-style: none;
     margin-top: 5px;
    padding: 5px;
 }

 .sidebarIconsub{
     font-size: 18px;
     margin-left: -15px;
 }
 .sidebarListItemTextsub{
     color: black;
     font-size: 14px;
     margin-left: -10px;
     text-overflow: clip;
     white-space: nowrap;
   
 }