.message {
    display: flex;
    flex-direction: column;
  
   
  }
  
  .messageTop{
      display: flex;
      position: relative;
      left: 100px;
     
  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    position: relative;
    top:20px;
    left: 20px;
  }
  
  .messageText{
      padding: 10px;
      border-radius: 20px;
      background-color: #ffb53b;
      color: white;
      max-width: 300px;
      position: relative;
      top:-15px;
      left: 10px;
  }
  
  .messageBottom{
      font-size: 12px;
  
      position: relative;
      top: -20px;
      left: 100px;
     
  }
  .message.own .messageTop{
      position: relative;
      left: -100px;
  }
  .message.own .messageBottom{
    position: relative;
    left: -100px;
}
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
      background-color: rgb(245, 241, 241);
      color: black;
      position: relative;
      left: 10px;
  }
  .message.own   .messageImg{
    position: relative;
    top:20px;
    left: 5px;
  }
  