
.sidenav {
   flex: 3;
    height: calc(100vh - 50px);
 width: 200px;
    position: sticky;
    top: 50px;
    position:absolute;
    background-color: #F7B53B;
    
 
  }
  .sidenav-container {
    padding: 20px;
 
  }
  .sidenav-list {
    padding: 0;
    margin: 0;
    list-style: none;
  
    
  }
 
  .sidenav-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sidenav-icon {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 5px;
  
    padding-bottom: 40px;
    color: white;

  }
  .sidenav-text{
      font-size: 20px;
      margin-bottom: 20px;
      padding-top: 0;
      color: white;
      font-weight: bold;
      
   
  }
  .sidenav-text a{
      text-decoration: none;
      margin-bottom: 30px;
    margin-top: 50px;
  }
  .sidenav-item a{
      text-decoration: none;
  }
.main-container{
  
  
}