.postbig-container{
    display: flex;
    width: 800px;
    height: 500px;
    position: relative;
    top:30px;
    left: 50px;

}
.post-bigdet{
    width: 400px;
    height: 500px;
    background-color: #fff;
}
.bodyyy{
    background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow-y:scroll;
	overflow-x: hidden; 
}

.postimg-container{
    height: 500px;
    width: 400px;
 
}
.postimage{
    width: 400px;
    height: 500px;

}
.profile-post{
    width: 500px;
    height: 70px;
    
  
}
.captions{
    position: relative;
    top:-10px;
}
.cap{
    position: relative;
    top:-20px;
    left: 20px;
}
.comment-containber{
    width: 410px;
    height: 280px;
    
  
    overflow-y: scroll;
}
.comment-info{
    width: 400px;
    height: 50px;
margin-left:-80px;
    display: flex;
    gap: 2rem;
}
.comment{
    display: flex;
    width: 400px;
    height: 100px;
   top:30px;
    position: relative;
}
.profilepost-img{
    display: flex;
}
.ppimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top:10px;
}
.ppname{
    position: relative;
    left: 30px;
    top:-5px;
}
.pcimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: -20px;
}
.commentli{
    list-style: none;
    display: flex;
}
.pctext{
    position: relative;
    top:-20px;
}
.icon-info{
    font-size: 25px;
    left: 5px;
    color: #f7b53b;

}
.icons{
    display: flex;
    gap: 1rem;
  left: -180px;
  position: relative;
  top:20px;
}
.remix{
    position: relative;
    font-size: 20px;
    top:-30px;
    color: #f7b53b;
}
.chatMessageInput1{
    width: 60%;
    height: 50px;
    position: relative;
    left: 10px;
}
.pcimg1{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: 5px;
}
.like1{
    display: flex;
}
.chatSubmitButton1{
    width: 100px;
    height: 40px;border-radius: 5px;
    position: relative;
    left: 15px;
    border: 1px solid #ffb53b;
	background-color: #ffb53b;
	color: #FFFFFF;
}
.likenumber{
    color: black;
    position: relative;
    top:5px;
    left: 5px;
}

@media (max-width: 900px){
    .postbig-container{
      flex-direction: column;

    }
    .postimg-container{
        height: 500px;
        width: 400px;
        position: relative;
        left: 150px;
        top:-50px;
     
    }
    .post-bigdet{
        width: 400px;
        height: 500px;
        background-color: #fff;
        position: relative;
        left: 150px;
        top:-50px;
    }
}