.postbig-container{
    display: flex;
    width: 1000px;
    height: 500px;
    position: relative;
    top:30px;
    left: 160px;

}
.post-bigdet{
    width: 400px;
    height: 500px;
    background-color: #fff;
}
.bodyyy{
    background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow-y:scroll;
	overflow-x: hidden; 
}

.postimg-container{
    height: 500px;
    width: 400px;
    background-color: black;
 
}

.postimage{
    width: 100%;
    height: 300px;
   position: relative;
   top:100px;

}
.profile-post{

    width: 410px;
  
    height: 70px;
    border-bottom: 1px solid #efefef;
    
  
}
.captions{
    width: 30px;
    position: relative;
    top:-15px;
}
.cap{
    position: relative;
    top:-20px;
    left: 20px;
}
.comment-containber{
    width: 410px;
    height: 280px;
    
  
    overflow-y: scroll;
}
.comment-info{
    width: 400px;
    height: 50px;
margin-left:-120px;
    display: flex;
    gap: 2.5rem;

}
.comment{
    display: flex;
    width: 400px;
    height: 100px;
   top:30px;
   left: 20px;

    position: relative;
}
.profilepost-img{
    display: flex;
}
.ppimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top:10px;
}
.ppname{
    position: relative;
    left: 30px;
    top:-7px;
    font-weight: 500;
    font-size: 18px;
}
.comment-username{
    font-size: 12px;
    position: relative;
    font-weight: 500;
    top:15px;
    left: -55px;
}
.pcimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: -20px;
}
.commentli{
    list-style: none;
    display: flex;
}
.pctext{
    position:relative;
    font-family: 14px;
    left: -40px;
    top:-10px;
  
  
}
.remix-btn{
    width: 150px;
    height: 30px;border-radius: 40px;
    position: relative;
    top:10px;
    left: 150px;
    border: 1px solid #ffb53b;
	background-color: #ffb53b;
	color: #FFFFFF;
    font-weight: 550;
    transition: 0.3s;
}
.remix-btn:hover{
    border: 1px solid #ffb53b;
	background-color: #fff;
	color:#ffb53b;
    transition: 0.2s;
}
.icon-info{
    font-size: 25px;
    left: 5px;
    color: #4e4e4e;
    transition: 0.08s;
}

.icon-info-like{
    font-size: 25px;
    left: 5px;
    color: #4e4e4e;
    transition: 0.08s;
}

.icon-info-like-active{
    font-size: 25px;
    left: 5px;
    color: #ffb53b;
    transition: 0.08s;
}

.icon-info-like:hover{
    transition: 0.2s;
    color:#ffb53b
}

.icon-info-like-active:hover{
    transition: 0.2s;
    color:#4e4e4e
}

.icon-info:hover{
    transition: 0.2s;
    color:#ffb53b
}

.icons{
    display: flex;
    gap: 1rem;
  left: -180px;
  position: relative;
  top:20px;
}
.remix{
    position: relative;
    font-size: 20px;
    top:-30px;
    color: #ffb53b;
}
.chatMessageInput1{
    width: 60%;
    height: 50px;
    position: relative;
    resize: none;
    border-radius: 5px;
    overflow:hidden;
    left: 10px;
}
.pcimg1{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: 5px;
}
.like1{
    display: flex;
}
.three-dots2{
    color: #ffb53b;
    font-size: 20px;
    position: relative;
    left:150px;
    top:5px;

}
.dropdowns2{
    position: relative;
    left: 100px;
    top:5px;
    color: #ffb53b;
    font-size: 20px;
}
.dropdown-block2:hover .dropdown-content2{
  
    color: rgb(0, 0, 0);
    display:block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 11px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 5px 16px;
    z-index: 1;
    left: 250px;
}

  .dropdown-content2 button{
      margin: 5px;
  }

.dropdown-text2{
    font-size: 10px;
    /* width: 120px; */
    background-color: #f9f9f9;
    color: black;
    border: none;
    position: relative;
    left: -5px;
    overflow: clip;
    white-space: nowrap;
}
.dropdown-text2:hover{
    background-color: #f9f9f9;
    color: black;
}
.chatSubmitButton4{
    width: 100px;
    height: 40px;border-radius: 40px;
    position: relative;
    left: 25px;
    border: 1px solid #ffb53b;
	background-color: #ffb53b;
	color: #FFFFFF;
}
.likenumber{
    color: black;
    position: relative;
    top:5px;
    left: 5px;
}

@media (max-width: 900px){
    .postbig-container{
      flex-direction: column;

    }
    .postimg-container{
        height: 500px;
        width: 400px;
        position: relative;
        left: 150px;
        top:-50px;
     
    }
    .post-bigdet{
        width: 400px;
        height: 500px;
        background-color: #fff;
        position: relative;
        left: 150px;
        top:50px;
    }
    .remix-btn{
        width: 150px;
        height: 30px;border-radius: 40px;
        position: relative;
        top:10px;
        left: 130px;
        border: 1px solid #ffb53b;
        background-color: #ffb53b;
        color: #FFFFFF;
        font-weight: 550;
        transition: 0.3s;
    }
}