.change-text130{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;

    position: relative;
    top:-25px;
    border-radius: 5px;
    width: 250px;
    margin-top: 0px;
    font-size: 10px;
    left: 25px;
  }
  @media (max-width: 900px){
    .change-text130{
    position: relative;
  
    width: 250px;
    }
  }