.modalBackground{

margin-top: -550px;
z-index: 9999;
position: fixed;

}
  .modalContainer {
    width: 380px;
    height: 300px;
    border-radius: 12px;
    background-color: #Ffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
   position: relative;
   top:-200px;
   left: 550px;
   
  
   
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #f7b53b;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top:-20px;
    right: -10px;
  }
  .folder-name{
      border:none ;
      padding: 12px 50px;
      width: 70%;
  }
  
  .modalContainer .body {
  
  
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 250px;
  }
  .title{
      color: black;
  }
  .create-title{
      font-size: 30px;
      font-weight: 600;
      color: black;
   position: relative;
   top:-50px;
   left: -50px;
   
       text-overflow: clip;
      white-space: nowrap;
  }
  

 
  .cross{
      color: black;
      margin-right: -40px;
  }
  .folder-btn{
    
      width: 100%;
top:-20px;
      position: relative;
      border-radius: 5px;
  }
  
  .change-text10{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
margin-right: 40px;
    position: relative;
    top:-45px;
    border-radius: 5px;
    width: 325px;
    margin-top: 5px;
  }
  .folder-btn{
      text-transform: none;
  }
  .p1name{
    font-size: 16px;
 position: relative;
 top:-50px;
 left: -80px;
  }