.modalContainer8{
    width: 250px;
    height: 150px;
    border-radius: 12px;
    background-color: #Ffff;
    box-shadow: 1000px 0px 0px 4000px rgba(0, 0, 0, 0.5) ;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: fixed;
    top:25%;
    left: 45%;
   
}
.change-text106 {
    background-color: rgb(248, 248, 248);;
    text-decoration: none;
    resize: none;
    caret-color: transparent;

    border: none;
    background-color: #efefef;
    padding: 8px 20px;

    position: relative;
    top:-45px;
    border-radius: 5px;
    overflow: hidden;
    width: 193px;
    margin-top: 0px;
    font-size: 10px;
    left: 0px;
}

.body1{
    display: flex;
    flex-wrap: wrap;
}
.create-title8{
    font-size: 25px;
    position: relative;
    top:-60px;
    font-size: 20px;
    left: 15px;
    font-weight: 500;
    width: 100px;
}
.clipboard{
    font-size: 15px;
    color: black;
    font-weight: 600;
    position: absolute;
    top:60px;
    left: 200px;
}
@media (max-width: 900px){
    .modalContainer8{
        position: relative;
        left: -120px;
    }
}