
.ps-box{
    z-index: 1;
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 500px;
    left: 80px;
    top: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ttitle{
    font-size: 30px;
  font-weight: 400;
  position: relative;
  left: 150px;
}
.searchInput1{
    background-color: #efefef; 
    border: none;
    width: 80%;
    position: relative;
    left: 10px;
}
.searchbar1{
    width: 90%;
    height: 30px;
    background-color: #efefef;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.project-memberslist{
    margin-top: 20px;
}
.members{
    list-style: none;
    padding-bottom: 15px;
    word-spacing: 0.25rem;

}

.results1 {
    position: fixed;
    width: 39%;
    /* width: auto; */
    overflow-y: scroll;
    /* display: grid !important; */
    top: 345px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.results1 button {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.items{
    display: flex;
}

.addButton{
    width: 13% !important;
    background-color: #f7b53b;
    border: 1px solid #ffb53b;
    border-radius: 40px;
    color: #fff;
    height: 80%;
}
.Remove2{
    display: flex;
}
.remove-mem{
    width: 100px;
    background-color: #f7b53b;
    border: 1px solid #ffb53b;
    border-radius: 40px;
    color: #fff;
    height:25px;
    position: absolute;
    top:120px;
    left: 400px;
}
.remove-mem:hover{
    background-color: #ffffff;
    color: #ffb53b;
}
.addButton:hover{
    background-color: #ffffff;
      color: #ffb53b;
  }

@media(max-width:900px){
    .ps-box{
        z-index: 1;
        position: relative;
        background-color: #fff;
        width: 400px;
        height: 100%;
        
        left: 5px;
        top: -35px;
        border-radius: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ttitle{
        font-size: 20px;
      font-weight: 400;
      position: relative;
      left: 100px;
    }
    .searchbar1{
        width: 90%;
        height: 30px;
        background-color: #efefef;
        border-radius: 30px;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }
    .remove-mem{
        width: 100px;
        background-color: #f7b53b;
        border: 1px solid #ffb53b;
        border-radius: 40px;
        color: #fff;
        height:25px;
        position: relative;
        top:-35px;
        left: 200px;
    }
}
