.create-project{
    background-color:#FFF7DD;
    margin-top: 100px;
width: 500px;
    height: 100%;
}
.create-projecttitle{
    padding: 20px;
    font-weight: bolder;
}
.cptitle{
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    margin-left: 150px;
}
.field{
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
}
.project-type{
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.members{
    padding-left: 20px;
    margin-top:50px;
}
.type{
    margin-left: 20px;
}
.hero-btn{
    margin-left: 300px;
    margin-top: 50px;
}