.messenger {
    /* height: calc(100vh - 70px); */
    display: flex;
}
.chatscc{
    background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow-y:scroll;
	overflow-x: hidden;
}
.chatMenu {
    flex: 3.5;
}

.chat-menuwrapper {
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px;
    height: 550px;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 90px;
}

.profile-pic2 {
    position: relative;
    left: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chatlistlitext {
    position: relative;
    left: 5px;
    color: black;
    top: 5px;
    font-size: 16px;
}

 .chatlistli:hover {
    background-color: #efefef;
 
border-radius: 5px;
    width: 100%;
} 

.chat-title {
    font-size: 18px;
    position: relative;
    font-weight: 500;
    left: 110px;
}

.chatlistli {
    width: 300px;
    position: relative;
    left: -10px;
  
    list-style: none;
padding: 7px;
    display: flex;
    
}
.nameprof{
    font-size: 18px;
    position: relative;
    left: 20px;
    top:15px;
}


.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox {
    flex: 5.5;
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    position: relative;
    top: 50px;
    left: 70px;
}


/* 
.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
} */

.noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
}

.chat-boxwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    width: 800px;
    height: 450px;
    overflow-y: scroll;
    border-radius: 5px;
    left: 90px;
    top: 50px;
    overflow-x: hidden;
}
.chatbox-name{
    display: flex;
    width: 800px;
    position: relative;
    top:50px;
    border-radius: 5px;
    left: 90px;
    border-bottom: 2px solid #f1f1f1 ;
    height: 50px;
    background-color: #fff;
}
.conversation {
    position: relative;
    display: flex;
    left: 50px;
}

.conversation-title {
    padding: 0px;
    border-radius: 20px;
    background-color: #ffb53b;
    color: white;
    max-width: 300px;
    height: 100px;
}

.convo {
    margin-left: 20px;
}

.profile-pic3 {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.profile-pic4 {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  top:10px;
  left: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .chatMessageInput {
    display: block;
    width: 80%;
    height: 50px;
    padding: 10px;
    position: relative;
    left: 20px;
    overflow: hidden;
    resize: both;
    line-height: 20px;
    min-height: 40px;
    border: 1px solid black;
} */

.chatMessageInput[contenteditable]:empty::before {
    content: 'Placeholder still possible';
    color: gray;
}

.chatSubmitButton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #ffb53b;
    color: white;
    position: relative;
    left: -10px;
}

.send {
    color: #fff;
    text-transform: none;
    position: relative;
    left: -5px;
 
}
@media (max-width: 900px){
    .messenger{
        flex-direction: column;
    }
    .chat-menuwrapper {
        position: relative;
        top: 280px;
        left: 10px;
    }
    .chat-boxwrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: #fff;
        width: 300px;
        height: 500px;
        overflow-y: scroll;
        border-radius: 5px;
        left: 10px;
        top: 100px;
    }
    .chatbar{
        position: relative;
        left: -20px;
    }
    .chatBoxBottom {
      position: relative;
      left: -5px;
    }
}