 .profile-container{
bottom:100px;
justify-content:space-around;
margin-top: 150px;
 
}
 .profile-image{
     
   width:170px;
   height: 170px;
   border-radius: 50%;
position: relative;
top:-350px;
left: 660px;
}
.profile-user{
    position: relative;
    top:-350px;
    left:75px;

}
.editp{
    position: relative;
  top:-350px;
  left: 660px;
    text-transform: none;
    border-radius: 5px;
    font-size: 16px;

}
.post-info{
    display: flex;
    position: relative;
    gap: 2rem;
    top:-350px;
    left: 650px;

} 
 .collaborations{
position: relative;
left:-20px;
}

 .collaborations a:hover{
    background-color: #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
}
.collaborations a{
    font-size: 18px;
}
.posts1 a:hover{
    background-color: #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
}
.posts1 a{
    font-size: 18px;
}
.wrapper {
   
position: relative;
top: -350px;
left: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
 
       } 