 .profile-container{
bottom:100px;
justify-content:space-around;
margin:18px 0px;
 
}
 .profile-image{
     
   width:170px;
   height: 170px;
   border-radius: 50%;
   margin-top: -480px;
margin-bottom: 40px;
   margin-bottom: 450px;
margin-left: 650px;
}
.profile-user{
  margin-top: -430px;
  margin-left:140px
}
.editp{
    margin-left: 670px;
    text-transform: none;

}
.post-info{
    display: flex;
    gap: 4rem;
    margin-left: 600px;
    margin-top: -180px;
} 
 .collaborations{
    margin-right: 100px;
    margin-left: -70px;
}
.posts1{
margin-right: -200px;
} 
 .collaborations a:hover{
    background-color: #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
}
.collaborations a{
    font-size: 18px;
}
.posts1 a:hover{
    background-color: #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
}
.posts1 a{
    font-size: 18px;
}
.wrapper {
   
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    margin-left: 100px;
       } 