 .project-container{
     width: 100%;
     height: 100%;
    
     margin-top: 40px;
 }
 .project{
     position: relative;
     display: flex;
     
 }
 .project-title{
     position: relative;
     display: flex;
     justify-content: space-between;
     top:-200px; 
    left:200px;
 }
.title{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    left: 52px;
}
.hero-btn{
    position: relative;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-transform: none;
    right: -690px;
    top: 20px;
}
.project-container2{
    width: 1000px;
    height:800px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top:-80px;
    left: -100px;
    overflow-y: scroll;
}
.project-list{
   
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
gap: 3.5rem;
top:30px;
position: relative;
left: -5px;
}
.project-list-item{
    position: relative;

    background-color: #efefef;
    padding: 20px 10px;
    width: 300px;
    height: 30px;
    list-style: none;
    border-radius: 5px;
}
.project-name{
    color: black;
    font-size: 15px;
    position: relative;
    top:-10px;
}
