/* 
.post-container{

    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    flex: 33.3% ;


}
.img-container img{
    height: 200px;
    padding: 5px;

  
} */







@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Mulish:ital,wght@0,200;0,300;1,200&family=Roboto:wght@100;700&display=swap');


.wrapper1 {
 overflow-x: hidden; 
display: grid;
grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
gap: 2rem;
justify-content: center;
position: relative;
top:-200px;
left: -20px;

}

.card {
   
position: relative;

  border-radius: 0.2rem;

  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

}
.card:hover{
    height: 230px;
    background-color:#f0f0f0;
}
  .card__image {
    position: sticky;
    display: block;
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  .card__title {
    padding-left: 0.2;
   /* padding:0.5rem; */
   margin-right: 10px;
   text-align: right;
   margin-top: 8px;
   color: gray;
   font-weight: bold;
  }

 
.profilepic{
   
  width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
}
.profile{
 
  display: flex;
  align-items: center;
  
  

transform: translateY(-20px);
  opacity: 0; 
}
.card:hover .profile{
opacity: 1;
    transform: translateY(0);
  
} 

  
  .icons{
    display:flex;
    position:absolute;
    margin-left: 200px;
    padding-top: 10px;
   
  }
  .like-icon{
    color: #F7B53B;
    font-size: 20px; 
  }
 .icontext{
   margin-left: 5px;
   margin-top: 3px;


 }








.save-icon{
  margin-left: 200px;
}
.icontext{
  color: gray;
}