.modalBackground3{
    position: fixed;
z-index: 9999;
}
.modalContainerdrop{
    width: 250px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    position: relative;
    left: -40px;
    top:100px;
    z-index: -1;
}
.titleCloseBtn3 {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    background-color: transparent;
  }
  .crossbtnss{
    font-size: 20px;
    position: relative;
    left:-5px;
    top:100px;

  }
  .titleCloseBtn3 button {
    background-color: transparent;
    border: none;
    font-size: 11px;
    cursor: pointer;
    position: relative;
    top:10px;
    left:-5px;
    color: black;
    
  }
  .creat-folder-title{
      position: relative;
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
margin-left: 25px;
    font-size: 14px;
    border-radius: 5px;
    width: 200px;
 top:10px;
  }
  .create-titledrop{
      font-size: 20px;
      position: relative;
      top:5px;
      left: 60px;
  }
  .folder-btn3{
    text-transform: none;
  position: relative;
  width: 100%;
    border-radius: 5px;
    left: 50px;
    white-space: nowrap;
    text-overflow: clip;

  }
  .folder-title3{
  position: relative;
  left: -15px;
  color: white;
  top: -2px;
  }
  .fbtn{
    position: relative;
    left: 25px;
    border-radius: 5px;
    text-transform: none;
    width: 200px;
    background-color: #ffb53b;
    color: #FFFFFF;
    border: 1px solid #ffb53b;
    font-weight: bold;
  top:30px;
    height: 40px;
  }
  .fbtn:hover{
    background-color:#fff ;
    color: #ffb53b;
    border: 1px solid #ffb53b;
}
  .drop{
    left: 30px;
  }
  
@media (max-width: 900px){
  .modalContainerdrop{
 
    position: relative;
    left: -120px;
    top:-100px;

}
}