.modalBackground7{

    position: fixed;
    z-index: 9999;
        
        }
.modalContainer7{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #Ffff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
flex-direction: column;
            padding: 25px;
     
        position: relative;
         top:-300px;
         left: -200px;
       
     z-index:100;
           
          
            
          }
          
          .modalContainer6 .title6 {
            display: inline-block;
            text-align: center;
            margin-top: 10px;
            color: #f7b53b;
          }
          .title7{

          }
          
          .titleCloseBtn6 {
            display: flex;
            justify-content: flex-end;
          }
          .code-conformation1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            position: relative;
            top:-50px;
          }
          .six-digit121{
          position: relative;
          top:-30px;
          }
          .div62{
            position: relative;
            top:-20px;
            left: 20px;
          }
          .timers2{
            position: relative;
            top:-20px;
          }
          .resend1{
        
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top:-20px;
          }
          .titleCloseBtn6 button {
            background-color: transparent;
            border: none;
            font-size: 15px;
            cursor: pointer;
            position: relative;
            top:-20px;
            right: -10px;
          }
          .folder-name6{
              border:none ;
              padding: 12px 50px;
              width: 70%;
          }
          .folder-btn601{
            background-color: #f7b53b;
            border-radius: 40px;
            width: 200px;
            margin-top: 5px;
         
         display: flex;
         align-items: center;
         justify-content: center;

            border: 1px solid #ffb53b;
            padding: 12px 45px;
            color:#fff;
            font-weight: bold;
             left: 150px; 
            position: relative;
            top: -10px;
            transition: 0.25s;
           }
           .folder-btn601:hover{
            background-color: #ffffff;
            color: #ffb53b;
            transition: 0.3s;
          }
          .back-login1{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            position: relative;
            top:5px;
          }
          .modalContainer6 .body6 {
          
          
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            text-align: center;
            padding-bottom: 250px;
          }
          .title6{
              color: black;
          }
          .resend1 a{
            text-decoration: none;
            color: #f7b53b;
            position: relative;
            left: 3px;
          }
          .create-title6{
              font-size: 24px;
              font-weight: 600;
              color: black;
              margin-top: -30px;
              margin-left: 5px;
           
               text-overflow: clip;
              white-space: nowrap;
          }
          
        
         
          .cross6{
              color: black;
              margin-right: -40px;
          }
          .folder-btn6{
            background-color: #f7b53b;
        
              width: 100%;
    
              position: relative;
                 border-radius: 40px;
           left: 15px;
              justify-content: center;
              align-items: center;
              transition: 0.3s;
          }
          .folder-btn7{
           
            margin-left: 10px;
            width: 30%;
            height: 40px;
            text-transform: none;
            text-align: center;
          }
         .div61{
      position: relative;
      display: flex;
      gap: 0.25rem;
      top: -40px;
 
      
         }
         .digit{
           padding: 15px;
             width:100%;
             height: 100%;
         }
          
          .change-text10{
            border: none;
            background-color: #efefef;
            padding: 8px 20px;
        margin-right: 40px;
            
            border-radius: 5px;
            width: 300px;
            margin-top: 5px;
          }
          .folder-btn2{
              text-transform: none;
          }
          .p1name2{
            font-size: 16px;
            margin-left: -165px;
          }
          .six-digit{
              color: black;
              font-weight: 500;
              position: relative;
              top: -50px;
          }
          @media screen and (max-width: 800px){
            .modalContainer7{
              position: relative;
              top:-400px;
              left: -150px;
            }
            .div61{
              width: 100%;
              display: flex;
              height: 100%;
              position: relative;
              top: -30px;
              left: 7px;
                 }
                 .digit{
                   display: flex;
                  width: 100%;
                  height: 100%;
              }
              .folder-btn6{
                position: relative;
                left: -30px;
              }
          }