.settings-container{
    display: flex;
   gap: 2rem;
  flex-wrap: wrap;
    padding-top: 100px;
    position: sticky;
}
.photo{
    position: relative;
    left: 30px;
}
.settingscc1{
    background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow-y:scroll;
	overflow-x: hidden;
}
.settings-title{
    position: relative;
top:300px;
    font-weight: 500;
    left: -350px;
}
.settings{ 
 position: relative;
 border-radius: 5px;
    background-color: #fff;
    height: 100%;
    width:100%;
    top:20px;
    left: 80px;
    overflow-y: scroll;
  


}
.settinglist{
    padding: 20px;
    margin-bottom: 20px;

    
}
.setting-listli a{
    text-decoration: none;
}

.settinglistname{
    padding-bottom:10px;
    padding-top: 20px;
    list-style: none;
    color: black;
    font-weight: 400;
    padding-left: 5px;
    display: flex;
}
.settinglistname a{
   font-size: 18px;
   color: black;
}
.settinglistname a:hover{
    background-color: #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
 .edit-profile{

    position: relative;
 border-radius: 5px;
    background-color: #fff;
    width:100%;
    height: 100%;
top:-60px;
left:120px;


}
.existing-details{
 display: flex;
}

.profile-picture-cropper{
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
 .profile-picture{
    height: 100%;
    width: auto;
 }
 .profile-username{
     padding-left: 40px;
     justify-content: space-between;
     font-size: 20px;
     font-weight: 400;
     position: relative;
     top:5px;
     left:-15px;
 }
 .change-photo{
     
    font-weight: 400;
    font-size: 12px;
text-transform: none;
width: 150px;
   height: 40px;
border-radius: 5px;
position: relative;
top:60px;
left:-170px;
margin-left: 80px;
background-color: #ffb53b;
color: #FFFFFF;
border: 1px solid #ffb53b;
font-weight: bold;

white-space: nowrap;

       text-overflow: clip;

 }
 
 .change-photo:hover{
    background-color: #fff;
    color: #ffb53b;
    border: 1px solid #ffb53b;
 }
 .change-details{
 
     margin-top: 50px;
 }
 .fname{
     margin-left: 50px;
 }
 .lname{
     margin-left: 50px;
 }
 .change-text1{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left:65px;
    border-radius: 5px;
    width: 300px;
 }
 .change-text2{
     margin-top: 20px;
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 27px;
    border-radius: 5px;
    width: 300px;
}
.user1{
    margin-top:40px;
    margin-left: 50px;
}
.username-change{
   position: relative;
   top: 10px;
}
.change-text3{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 29px;
    border-radius: 5px;
    width: 300px;
}
.emailID{
    margin-left: 50px;
    margin-top: 20px
}
.change-text4{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 47px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.date{
    margin-left: 50px;
    margin-top: 20px;
    
}
.change-text5{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.submit-changes{
margin-top: 30px;
margin-left: 300px;
position: relative;
top:-10px;
left: -50px;
text-transform: none;
cursor: pointer;
background-color: #ffb53b;
color: #FFFFFF;
border: 1px solid #ffb53b;
font-weight: bold;
width: 180px;
    height: 40px;

}
.submit-changes:hover{
    background-color: white;
    color: #ffb53b;
    border: 1px solid #ffb53b; 
}
.change-password{
    
    position: relative;
 border-radius: 5px;
    background-color: #fff;
  width: 80%;
  height: 60%;
left: 380px;
top:-250px;
}
.cptitle{
    font-weight: 400;
    font-size: 30px;
    position: relative;
    top:10px;
    left: 150px;
}
.cptitle1{
    font-weight: 400;
    font-size: 30px;
    position: relative;
    top:10px;
    left: 200px;
}
.cptitle2{
    font-weight: 400;
    font-size: 30px;
    position: relative;
    top:10px;
    left: 180px;
}
.settings-container1{
    display: flex;
    gap: 2rem;
   flex-wrap: wrap;
     padding-top: 100px;
     position: sticky;
     margin-left: 60px;
}
.change-text6{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.change-text7{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 75px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.change-text8{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 82px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.block{
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.change-text9{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 60px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.btnn{
    margin-top: 50px;
    margin-right: -100px;
}
.change-password1{
    position: relative;
  
 border-radius: 5px;
    background-color: #fff;
  
    width:600px;
    height: 300px;
left: 80px;
top:-180px;
}
.btnn1{
    margin-bottom: 800px;
    cursor: pointer;
}
.settings2{
    position: relative;
    border-radius: 5px;
       background-color: #fff;
       height: 100%;
       width:100%;
       top:140px;
       left: 81px;
       overflow-y: scroll;
}
.settings-title2{
    position: relative;
    top:350px;
        font-weight: 500;
        left: -350px;
}
.settings-title2{
    position: relative;
    top:350px;
        font-weight: 500;
        left: -350px;
}
.settings3{
    position: relative;
    border-radius: 5px;
       background-color: #fff;
       height: 90%;
       width:100%;
       top:190px;
       left: -250px;
}
@media screen and (max-width: 800px){
    .settings-container{
        position: relative;
        top:-50px;
        flex-direction: column;
        
    }
    .settings{ 
        position: relative;
        border-radius: 5px;
           background-color: #fff;
           height: 100%;
           width:100%;
           top:50px;
           left: 5px;
           overflow-y: scroll;
       
       }
       .settinglist{
       margin-left: 30px;
    
       }   
       .edit-profile{
           position: relative;
           top:50px;
           left: 5px;
         
       } 
       .change-text3,.change-text1,.change-text2,.change-text4,.change-text5{
           width: 250px;
       }
       .submit-changes{
           position: relative;
           left: -70px;
       }
       .profile-username{
           position: relative;
           left: 20px;
       }
    .change-photo{
        position: relative;
        left: -150px;
    }
    .profile-picture-cropper{
        position: relative;
        left: 30px;
    }
    .settings-container1{
        flex-direction: column;
        
    }
    .settings2{ 
        position: relative;
        border-radius: 5px;
           background-color: #fff;
           height: 100%;
           width:180%;
           top:50px;
           left: 10px;
           overflow-y: scroll;
       
       }
       .change-password{
           position: relative;
           top:500px;
           left: -310px;
           width: 100%;
           height: 100%;
       }
}