.settings-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 4rem;
    justify-content: center;
  
    padding-top: 100px;
    position: sticky;
}
.settings-title{
    position: relative;
top:300px;
    font-weight: 500;
    left: -350px;
}
.settings{ 
 position: relative;
 border-radius: 5px;
    background-color: #fff;
    height: 100%;
    width:100%;
    top:290px;
    left: -250px;
    overflow-y: scroll;
  


}
.settinglist{
    padding: 20px;
    margin-bottom: 20px;

    
}

.settinglistname{
    padding-bottom:10px;
    padding-top: 20px;
    list-style: none;
    color: black;
    font-weight: 400;
    padding-left: 5px;
    display: flex;
}
.settinglistname a{
   font-size: 18px;
   color: black;
}
.settinglistname a:hover{
    background-color: #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
 .edit-profile{
    

    position: relative;

  
 border-radius: 5px;
    background-color: #fff;
  
    width:600px;
    height: 500px;
top:-200px;
left:80px;


}
.existing-details{
 display: flex;
}

.profile-picture-cropper{
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
 .profile-picture{
    height: 100%;
    width: auto;
 }
 .profile-username{
     padding-left: 40px;
     justify-content: space-between;
     font-size: 20px;
     font-weight: 400;
     position: relative;
     top:5px;
     left:-15px;
 }
 .change{
     color: #fff;
     font-weight: 400;
     font-size: 12px;
text-transform: none;
width: 180px;
    height: 40px;
border-radius: 20px;
position: relative;
top:60px;
left:200px;
margin-left: 80px;

white-space: nowrap;

        text-overflow: clip;
     
 }
 .change-details{
 
     margin-top: 50px;
 }
 .fname{
     margin-left: 50px;
 }
 .lname{
     margin-left: 50px;
 }
 .change-text1{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left:65px;
    border-radius: 5px;
    width: 300px;
 }
 .change-text2{
     margin-top: 20px;
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 27px;
    border-radius: 5px;
    width: 300px;
}
.user1{
    margin-top:40px;
    margin-left: 50px;
}
.username-change{
   position: relative;
   top: 10px;
}
.change-text3{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 29px;
    border-radius: 5px;
    width: 300px;
}
.emailID{
    margin-left: 50px;
    margin-top: 20px
}
.change-text4{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 47px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.date{
    margin-left: 50px;
    margin-top: 20px;
    
}
.change-text5{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.submit-changes{
margin-top: 30px;
margin-left: 350px;
text-transform: none;
cursor: pointer;

}
.change-password{
    
    position: relative;

  
 border-radius: 5px;
    background-color: #fff;
  
    width:600px;
    height: 420px;
left: 80px;
top:-180px;
}
.cptitle{
    font-weight: 400;
    font-size: 30px;
    position: relative;
    top:10px;
}
.settings-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 1rem;
    justify-content: center;
  
    padding-top: 50px;
    position: sticky;
}
.change-text6{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.change-text7{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 75px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.change-text8{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 82px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.block{
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.change-text9{
    border: none;
    background-color: #efefef;
    padding: 8px 20px;
    margin-left: 60px;
    border-radius: 5px;
    width: 300px;
    margin-top: 20px;
}
.btnn{
    margin-top: 50px;
    margin-right: -100px;
}
.change-password1{
    position: relative;
  
 border-radius: 5px;
    background-color: #fff;
  
    width:600px;
    height: 300px;
left: 80px;
top:-180px;
}
.btnn1{
    margin-bottom: 800px;
    cursor: pointer;
}
.settings2{
    position: relative;
    border-radius: 5px;
       background-color: #fff;
       height: 90%;
       width:100%;
       top:250px;
       left: -250px;
}
.settings-title2{
    position: relative;
    top:350px;
        font-weight: 500;
        left: -350px;
}
.settings-title2{
    position: relative;
    top:350px;
        font-weight: 500;
        left: -350px;
}
.settings3{
    position: relative;
    border-radius: 5px;
       background-color: #fff;
       height: 90%;
       width:100%;
       top:190px;
       left: -250px;
}