.profile-container{
    margin-top: 100px !important;
}
.profile-image{
    margin-left: 300px;
    position: sticky;
}
.profile-info{
    margin-right:300px;
    text-align: right;
    margin-top: 50px;
    padding-right: 300px;
   
}
.profile-name{
    display: flex;
    font-size: 30px;
    color: #000000;
    margin-left: 100px;
    white-space: nowrap;
    text-overflow: clip;
}
 .follow-info{
    padding-top: 25px;
    font-size: 25px;
    padding-left: 100px;
} 
.info{
    white-space: nowrap;
    text-overflow: clip;
    margin-left: 20px;
}
.profile{
    display: flex;
}
.btn{
    margin-left: 50px;
    border: none;
    white-space: nowrap;
    text-overflow: clip;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.profile-posts{
    margin-left: 500px;
    display: flex;
}
.display{
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}